@model List<ProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Save" asp-controller="Products" class="btn btn-primary">New Product</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Create Date</th>
            <th>Update - Sil</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CreatedDate</td>
                <td>
                    <a asp-action="Update" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>

